<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About || Comfy Store</title>
    <!-- normalize  -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar page">
      <div class="nav-center">
        <!-- links -->
        <div>
          <button class="toggle-nav">
            <i class="fas fa-bars"></i>
          </button>
          <ul class="nav-links">
            <li>
              <a href="index" class="nav-link"> home </a>
            </li>
            <li>
              <a href="products" class="nav-link"> products </a>
            </li>
            <li>
              <a href="about" class="nav-link"> about </a>
            </li>
          </ul>
        </div>
        <!-- logo -->
        <img src="./assets/logo-black.svg" class="nav-logo" alt="logo" />
        <!-- cart icon -->
        <div class="toggle-container">
          <button class="toggle-cart">
            <i class="fas fa-shopping-cart"></i>
          </button>
          <span class="cart-item-count">1</span>
        </div>
      </div>
    </nav>
    <!-- end of navbar-->
    <!-- page hero -->
    <section class="page-hero">
      <div class="section-center">
        <h3 class="page-hero-title">Home / About</h3>
      </div>
    </section>
    <!-- about -->
    <section class="section section-center">
      <div class="title">
        <span></span>
        <h2>About Us </h2>
        <span></span>
      </div>
    <br>
      <h3><b>Comfy Company</b></h3>
      <p class="about-text">
      <b><i>Comfy</i></b> company is an online platform for online purchase of
      goods and commodities where you can find local products of the current area of living.
      <b><i>Comfy</i></b> is commited to provide the best quality and price with free delivery across <thead>
        country; here you can order and submit a petition of your intended product and our staff will try
        to reach out to you as soon as possible.




      </p>

<br>
      <h3 ><b>Staff Members</b></h3>
      <p class="about-text">
        <b><i>Comfy</i></b>'s development honor goes to four dedicated and motivated students of <b>Astana IT University</b>
        who tirelessly participated to build something that worths it from scratch. The names are listed below:
          </p>



    <section>


      <p class="about-text">  <img src="assets/shokrulla.jpg" alt="shokrullah"   class="staff-pics">
        <b>Shokrullah Wali</b><br> is a first year of <i>Software Engineering </i>major of <b>Astana IT University</b>.
        </p>
      </section>


<section>


      <p class="about-text"> <img src="assets/Shokoor.jpg" alt="shokoor Amini" class="staff-pics"> <b>Abdul Shokoor Amini</b><br> is student of <i>Computer Science</i> at
        <b>Astana IT University</b>.
        </p>
</section>

<section>

      <p class="about-text"> <img src="assets/reza1.jpg" alt="" class="staff-pics"> <b>Ghulam Reza Faqiri</b><br> is an <i>Information Technology (IT)</i> student at <b>Astana IT University</b>
        .</p>
    </section>

    <section>


      <p class="about-text">  <img src="assets/mahdi.jpg" alt="" class="staff-pics"> <b>Mahdi Habibi</b><br> is <i>Computer Science</i> first year student of <b>Astana IT University</b>.
        </p>
        </section>
<br>
   <h3><b>Why Using <i>Comfy?</i></b></h3>
   <p class="about-text">Most of the websites and online shopping platforms in Kazakhstan, like Wildberries, use only Russian and Kazakh languages and doesn't provide English menues for foriegners; hence,
   <b><i>Comfy</i></b> vividly understands this and facilitates. Moreover, we provide low price and good quality coupled with free delivery to step door.
 </p>


    </section>
    <!-- sidebar -->
    <div class="sidebar-overlay">
      <aside class="sidebar">
        <!-- close -->
        <button class="sidebar-close">
          <i class="fas fa-times"></i>
        </button>
        <!-- links -->
        <ul class="sidebar-links">
          <li>
            <a href="index.ejs" class="sidebar-link">
              <i class="fas fa-home fa-fw"></i>
              home
            </a>
          </li>
          <li>
            <a href="products.ejs" class="sidebar-link">
              <i class="fas fa-couch fa-fw"></i>
              products
            </a>
          </li>
          <li>
            <a href="about.ejs" class="sidebar-link">
              <i class="fas fa-book fa-fw"></i>
              about
            </a>
          </li>
        </ul>
      </aside>
    </div>
    <!-- end of sidebar -->
    <!-- cart -->
    <div class="cart-overlay">
      <aside class="cart">
        <button class="cart-close">
          <i class="fas fa-times"></i>
        </button>
        <header>
          <h3 class="text-slanted">your bag</h3>
        </header>
        <!-- cart items -->
        <div class="cart-items">
          <!-- single cart item -->
          <article class="cart-item">
            <img
              src="https://dl.airtable.com/.attachments/14ac9e946e1a02eb9ce7d632c83f742f/4fd98e64/product-1.jpeg"
              class="cart-item-img"
              alt="product"
            />
            <div class="cart-item-info">
              <h5 class="cart-item-name">high-back bench</h5>
              <span class="cart-item-price">$19.99</span>
              <button class="cart-item-remove-btn">remove</button>
            </div>

            <div>
              <button class="cart-item-increase-btn">
                <i class="fas fa-chevron-up"></i>
              </button>
              <span class="cart-item-amount">1</span>
              <button class="cart-item-decrease-btn">
                <i class="fas fa-chevron-down"></i>
              </button>
            </div>
          </article>
          <!-- end of single cart item -->
          <!-- single cart item -->
          <article class="cart-item">
            <img
              src="https://dl.airtable.com/.attachments/da5e17fd71f50578d525dd5f596e407e/d5e88ac8/product-2.jpg"
              class="cart-item-img"
              alt="product"
            />
            <div class="cart-item-info">
              <h5 class="cart-item-name">product</h5>
              <span class="cart-item-price">$19.99</span>
              <button class="cart-item-remove-btn">remove</button>
            </div>

            <div>
              <button class="cart-item-increase-btn">
                <i class="fas fa-chevron-up"></i>
              </button>
              <span class="cart-item-amount">1</span>
              <button class="cart-item-decrease-btn">
                <i class="fas fa-chevron-down"></i>
              </button>
            </div>
          </article>
          <!-- end of single cart item -->
        </div>
        <!-- footer -->
        <form action="/checkout" method="post">
        <footer>
          <h3 class="cart-total text-slanted">total : $12.99</h3>
          <button class="cart-checkout btn">checkout</button>
        </footer>
        </form>
      </aside>
    </div>
    <div class="footer-container">
      ` <div class="footer">
      <div class="footer-heading footer-1">
        <table><th><tr>
          <td> <h2>About Us</h2></td></tr>
          <tr>
            <td>  <a href="#">Blog</a></td></tr>
          <tr>
            <td>  <a href="#">Demo</a></td></tr>
          <tr>

            <td> <a href="#">Customers</a></td>
          </tr>
          <td><a href="#">Investor</a></td>
          </tr>
          <td> <a href="#">Terms of Service</a></td>
          </tr>

        </table>
      </div>
      <div class="footer-heading footer-2">
        <table><th><tr>
          <td> <h2>Contact Us</h2></td></tr>
            <tr> <td><a href="#">Jobs</a></td></tr>
          <tr><td> <a href="#">Support</a></td></tr>
          <tr><td> <a href="#">Contact</a></td></tr>
          <tr> <td> <a href="#">Sponsership</a></td></tr>
        </th></table>
      </div>
      <div class="footer-heading footer-3">
        <table><th><tr>
          <td><h2>Social Media</h2></td></tr>

          <tr> <td> <a href="#">Instagram</a></td></tr>
          <tr><td> <a href="#">Facebook</a></td></tr>
          <tr> <td> <a href="#">Whatsapp</a></td></tr>
          <tr><td><a href="#">Twitter</a></td></tr>
        </th></table>
      </div>
      <div class="footer-email-form">
        <table><th><tr><td>
          <h2> Join our newsletter</h2></td></tr>
          <tr><td> <input type="email"
                          placeholder="enter your email address" id="footer-email">
            <input type="submit" value="sign up" id="footer-email-btn">
          </td>
          </tr>
        </th>
        </table>
      </div>
    </div>
    </div>
    <script src="./js/app.js"></script>
  </body>
</html>
