<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iFrame</title>
    <!-- normalize  -->
</head>
<body>
<div class="form-box">
    <form action="weather" method="post">
        <input type="text" name="city" placeholder="Your city of residence">
        <button type="submit" name="submit">Show</button>
    </form>
</div>
<div>
    <form action="/curency" method="post">
        <input type="text" name="curency" placeholder="Your favorite curency!">
        <button type="submit" name="submit">Exchange</button>
    </form>
</div>
<div>
    <form action="/checkCard" method="post">
        <input type="text" name="cardNumber" placeholder="Your card number please!">
        <button type="submit" name="submit">check</button>
    </form>
</div>
</body>
</html>