   <!DOCTYPE html>
   <html lang="en">
   <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
      <!-- normalize  -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="./css/styles.css" />
   </head>
   <body>
       <!-- navbar -->
    <nav class="navbar page">
      <div class="nav-center">
        <!-- links -->
        <div>

          <ul class="nav-links">
            <li>
              <a href="index" class="nav-link"> home </a>
            </li>
            <li>
              <a href="products" class="nav-link"> products </a>
            </li>
            <li>
              <a href="about" class="nav-link"> about </a>
            </li>
          </ul>
        </div>
        <!-- logo -->
        <img src="./assets/logo-black.svg" class="nav-logo" alt="logo" />
        <!-- cart icon -->
        <div class="toggle-container">
          <button class="toggle-cart">
            <i class="fas fa-shopping-cart"></i>
          </button>
          <span class="cart-item-count">1</span>
        </div>
        <a href="profile"><button>Profile</button></a>
      </div>
        </div>
      </div>
    </nav>
    <!-- end of navbar-->
    <div>
      <h4>full name: <%=fullName%> </h1>
      <br/>
      <h4>Email: <%=email%> </h1>
      <br/>
      <h4>Phone: <%=phone%></h1>
      <br/>
    </div>
    <div class="imagebg"></div>
    <div class="row " style="margin-top: 50px">
        <div class="col-md-6 col-md-offset-3 form-container">
            <h2>Feedback</h2>
            <p>
                Please provide your feedback below:
            </p>
            <form action="/feedBackForm" method="POST" id="reused_form">
                <div class="row">
                    <div class="col-sm-12 form-group">
                    <label>How do you rate your overall experience?</label>
                    <p>
                        <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="bad" >
                        Bad
                        </label>
    
                        <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="average" >
                        Average
                        </label>
    
                        <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="good" >
                        Good
                        </label>
                    </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="comments">
                            Comments:</label>
                        <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" maxlength="6000" rows="7"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="name">
                            Your Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="email">
                            Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>
    
                            <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="btn btn-lg btn-warning btn-block" >Post </button>
                    </div>
                </div>
    
            </form>
            <div id="success_message" style="width:100%; height:100%; display:none; ">
                <h3>Posted your feedback successfully!</h3>
            </div>
            <div id="error_message"
                    style="width:100%; height:100%; display:none; ">
                        <h3>Error</h3>
                        Sorry there was an error sending your form.
    
            </div>
        </div>
    </div>
   <p> <% %> </p>
    <form action="/logout?_method=DELETE" method="POST">
      <button class="fas fa-btn" type="submit">Log Out</button>
    </form>

<!-- cart -->
<div class="cart-overlay">
  <aside class="cart">
    <button class="cart-close">
      <i class="fas fa-times"></i>
    </button>
    <header>
      <h3 class="text-slanted">your bag</h3>
    </header>
    <!-- cart items -->
    <div class="cart-items">
      <!-- single cart item -->
      <article class="cart-item">
        <img
          src="https://dl.airtable.com/.attachments/14ac9e946e1a02eb9ce7d632c83f742f/4fd98e64/product-1.jpeg"
          class="cart-item-img"
          alt="product"
        />
        <div class="cart-item-info">
          <h5 class="cart-item-name">high-back bench</h5>
          <span class="cart-item-price">$19.99</span>
          <button class="cart-item-remove-btn">remove</button>
        </div>

        <div>
          <button class="cart-item-increase-btn">
            <i class="fas fa-chevron-up"></i>
          </button>
          <span class="cart-item-amount">1</span>
          <button class="cart-item-decrease-btn">
            <i class="fas fa-chevron-down"></i>
          </button>
        </div>
      </article>
      <!-- end of single cart item -->
      <!-- single cart item -->
      <article class="cart-item">
        <img
          src="https://dl.airtable.com/.attachments/da5e17fd71f50578d525dd5f596e407e/d5e88ac8/product-2.jpg"
          class="cart-item-img"
          alt="product"
        />
        <div class="cart-item-info">
          <h5 class="cart-item-name">product</h5>
          <span class="cart-item-price">$19.99</span>
          <button class="cart-item-remove-btn">remove</button>
        </div>

        <div>
          <button class="cart-item-increase-btn">
            <i class="fas fa-chevron-up"></i>
          </button>
          <span class="cart-item-amount">1</span>
          <button class="cart-item-decrease-btn">
            <i class="fas fa-chevron-down"></i>
          </button>
        </div>

      </article>
        <div>
            <iframe src="ifram">
            </iframe>
        </div>
      <!-- end of single cart item -->
    </div>
    <!-- footer -->
    <form action="/checkout" method="post">
    <footer>
      <h3 class="cart-total text-slanted">total : $12.99</h3>
      <button class="cart-checkout btn">checkout</button>
    </footer>
  </form>
  </aside>
</div>
     <!-- footer -->
  <div class="footer-container">
    ` <div class="footer">
    <div class="footer-heading footer-1">
      <table><th><tr>
        <td> <h2>About Us</h2></td></tr>
        <tr>
          <td>  <a href="#">Blog</a></td></tr>
        <tr>
          <td>  <a href="#">Demo</a></td></tr>
        <tr>

          <td> <a href="#">Customers</a></td>
        </tr>
        <td><a href="#">Investor</a></td>
        </tr>
        <td> <a href="#">Terms of Service</a></td>
        </tr>

        </td></th></table>
    </div>
    <div class="footer-heading footer-2">
      <table><th><tr>
        <td> <h2>Contact Us</h2></td></tr>
        <tr> <td><a href="#">Jobs</a></th></tr>
        <tr><td> <a href="#">Support</a></td></tr>
        <tr><td> <a href="#">Contact</a></td></tr>
        <tr> <td> <a href="#">Sponsership</a></td></tr>
      </th></table>
    </div>
    <div class="footer-heading footer-3">
      <table><th><tr>
        <td><h2>Social Media</h2></td></tr>

        <tr> <td> <a href="#">Instagram</a></td></tr>
        <tr><td> <a href="#">Facebook</a></td></tr>
        <tr> <td> <a href="#">Whatsapp</a></td></tr>
        <tr><td><a href="#">Twitter</a></td></tr>
      </th></table>
    </div>
    <div class="footer-email-form">
      <table><th><tr><td>
        <h2> Join our newsletter</h2></td></tr>
        <tr><td> <input type="email"
                        placeholder="enter your email address" id="footer-email">
          <input type="submit" value="sign up" id="footer-email-btn">
        </td>
        </tr>
      </th>
      </table>
    </div>
  </div>
  </div>
  <script src="./js/app.js"></script>
  <script>
    $(function()
    {
        function after_form_submitted(data)
        {
            if(data.result == 'success')
            {
                $('form#reused_form').hide();
                $('#success_message').show();
                $('#error_message').hide();
            }
            else
            {
                $('#error_message').append('<ul></ul>');
    
                jQuery.each(data.errors,function(key,val)
                {
                    $('#error_message ul').append('<li>'+key+':'+val+'</li>');
                });
                $('#success_message').hide();
                $('#error_message').show();
    
                //reverse the response on the button
                $('button[type="button"]', $form).each(function()
                {
                    $btn = $(this);
                    label = $btn.prop('orig_label');
                    if(label)
                    {
                        $btn.prop('type','submit' );
                        $btn.text(label);
                        $btn.prop('orig_label','');
                    }
                });
    
            }//else
        }
    
      $('#reused_form').submit(function(e)
          {
            e.preventDefault();
    
            $form = $(this);
            //show some response on the button
            $('button[type="submit"]', $form).each(function()
            {
                $btn = $(this);
                $btn.prop('type','button' );
                $btn.prop('orig_label',$btn.text());
                $btn.text('Sending ...');
            });
    
    
                        $.ajax({
                    type: "POST",
                    url: 'handler.php',
                    data: $form.serialize(),
                    success: after_form_submitted,
                    dataType: 'json'
                });
    
          });
    });
    </script>
    </body>
    </html>