<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
<button class="home">
    <a href="index">Back to <b>Home</b></a>
</button>
<div class="Signup-box">
    <h1>Sign Up</h1>
    <h4>it's free and only takes a minute</h4>
    <form  action="/signUp" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" placeholder="">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" placeholder="">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder=""> 
        <button type="submit">Submit</button>
    </form>
    <p>By clicking the SignUp button, you agree to our<br>
        <a href="#">Terms of Conditions</a>and <a href="#">Policy Privacy</a>
    </p>
</div>
<p class="para-2">Already have an account? <a href="login">Login</a></p>

</body>
</html>