body{
    background-color: rgb(38, 104, 146);
    font-family: 'Roboto Light',sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
}
.Signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background: rgb(227, 171, 171);
    border-radius: 3px;
}
.login-box{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background: rgb(227, 171, 171);
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;

}
.home{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background: none;
    color: white;
    font-size: 18px;
}
.home a{
    color: black;
}
button{
    width: 310px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #0e0267;
    color: white;
    font-size: 18px;
}
button:hover{
    background-color: #9f4260;
    color: white;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
p a{
    color: rgb(11, 0, 92);
}

.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color: rgb(28, 4, 93);
}
.para-2 a:hover{
    color: #9f4260;
}



